-unless @books.empty?
  .page-header
    %h1= "Found results for '#{@key.input_value}'"

  %table.table.table-striped
    %tr
      %th Book
      %th Title
      %th Authors
    - @books.each do |b|
      %tr
        %td= b.image_link ? image_tag(b.image_link, :size => '52x80') : "Image Not Found"
        %td= b.title
        %td= b.authors
  .paginate_books
    = paginate @books
    :css
      #display_form{
          margin-top: 0%
      }
    = link_to "Back", root_path,:class => 'btn btn-primary'