.page-header
  %h1= "Books"

%table.table-striped
  %thead
    %tr
      %th Authors
      %th Title
      %th Thumbnail
  %tbody
    - @books.each do |b|
      %tr
        %td= b.authors
        %td= b.title
        %td= b.image_link
  

= link_to "Back", root_path,:class => 'btn btn-primary'